extends layout

block content
  h1= "×計算"
  form(method='POST' action='/')
    p
      | 計算
      br
      input(type='text' name='opr1')
      | X
      input(type='text' name='opr2')
      input(type='submit' value='=')
    div(id='result')=output2
